{% extends "base.html" %}

{% block content %}
<h2>Installing a newly created locale</h2>

<ol>
  <li>Download the <a href="https://gitlab.com/locale-helper/locale-helper/raw/master/scripts/install_locale.py">install_locale.py</a> script <em>(warning: only tested on Debian-based systems)</em></li>
  <li>Run the following command in a terminal:<br>
      <pre>sudo python install_locale.py <i>&lt;your_locale_file&gt;</i></pre></li>
  <li>You probably need to restart your system for the new locale to be available (at least if you want it to be the new default locale of your session)</li>
</ol>

{% endblock %}
