{% extends "base_help.html" %}

{% block content %}
<h2>Sign position in currency</h2>

<table>
<tr><td>0</td><td>Parentheses enclose the quantity and the "currency_symbol".</td></tr>
<tr><td>1</td><td>The sign string precedes the quantity and the "currency_symbol".</td></tr>
<tr><td>2</td><td>The sign string succeeds the quantity and the "currency_symbol".</td></tr>
<tr><td>3</td><td>The sign string immediately precedes the "currency_symbol".</td></tr>
<tr><td>4</td><td>The sign string immediately succeeds the "currency_symbol".</td></tr>
</table>
{% endblock %}
