{% extends "base_help.html" %}

{% block content %}
<h2>Field descriptors for the date fields</h2>
<table>
<tr><td>%a</td><td>FDCC-set’s abbreviated weekday name.</td></tr>
<tr><td>%A</td><td>FDCC-set’s full weekday name.</td></tr>
<tr><td>%b</td><td>FDCC-set’s abbreviated month name.</td></tr>
<tr><td>%B</td><td>FDCC-set’s full month name.</td></tr>
<tr><td>%c</td><td>FDCC-set’s appropriate date and time representation.</td></tr>
<tr><td>%C</td><td>Century (a year divided by 100 and truncated to integer) as decimal number (00-99).</td></tr>
<tr><td>%d</td><td>Day of the month as a decimal number (01-31).</td></tr>
<tr><td>%D</td><td>Date in the format mm/dd/yy.</td></tr>
<tr><td>%e</td><td>Day of the month as a decimal number (1-31 in at two-digit field with leading &lt;space&gt; fill).</td></tr>
<tr><td>%F</td><td>The date in the format YYYY-MM-DD (An ISO 8601 format).</td></tr>
<tr><td>%g</td><td>Week-based year within century, as a decimal number (00-99).</td></tr>
<tr><td>%G</td><td>Week-based year with century, as a decimal number (for example 1997).</td></tr>
<tr><td>%h</td><td>A synonym for %b.</td></tr>
<tr><td>%H</td><td>Hour (24-hour clock), as a decimal number (00-23).</td></tr>
<tr><td>%I</td><td>Hour (12-hour clock), as a decimal number (01-12).</td></tr>
<tr><td>%j</td><td>Day of the year, as a decimal number (001-366).</td></tr>
<tr><td>%k</td><td>Hour (24-hour clock), as a decimal number (range 0 to 23); single digits are preceded by a blank. (See also %H.)</td></tr>
<tr><td>%l</td><td>Hour (12-hour clock), as a decimal number (range 0 to 23); single digits are preceded by a blank. (See also %I.)</td></tr>
<tr><td>%m</td><td>Month, as a decimal number (01-13).</td></tr>
<tr><td>%M</td><td>Minute, as a decimal number (00-59).</td></tr>
<tr><td>%n</td><td>A &lt;newline&gt; character.</td></tr>
<tr><td>%p</td><td>FDCC-set’s equivalent of either AM or PM.</td></tr>
<tr><td>%r</td><td>     12-hour clock time (01-12), using the AM/PM notation.</td></tr>
<tr><td>%R</td><td>     24-hour clock time, in the format "%H:%M".</td></tr>
<tr><td>%S</td><td>     Seconds, as a decimal number (00-61).</td></tr>
<tr><td>%t</td><td>     A &lt;tab&gt; character.</td></tr>
<tr><td>%T</td><td>     24-hour clock time, in the format HH:MM:SS.</td></tr>
<tr><td>%u</td><td>     Weekday, as a decimal number (1(Monday)-7).</td></tr>
<tr><td>%U</td><td>     Week number of the year (Sunday as the first day of the week) as a
       decimal number (00-53). All days in a new year preceding the first
       Sunday are considered to be in week 0.</td></tr>
<tr><td>%v</td><td>     Week number of the year, as a decimal number with two digits including
       a possible leading zero, according to "week" keyword.</td></tr>
<tr><td>%V</td><td>     Week of the year (Monday as the first day of the week), as a decimal
      number (01-53). The method for determining the week number is as
    specified by ISO 8601.</td></tr>
<tr><td>%w</td><td>     Weekday, as a decimal number (0(Sunday)-6).</td></tr>
<tr><td>%W</td><td>     Week number of the year (Monday as the first day of the week), as a
      decimal number (00-53). All days in a new year preceding the first
      Monday are considered to be in week 0.</td></tr>
<tr><td>%x</td><td>     FDCC-set’s appropriate date representation.</td></tr>
<tr><td>%X</td><td>     FDCC-set’s appropriate time representation.</td></tr>
<tr><td>%y</td><td>     Year within century (00-99).</td></tr>
<tr><td>%Y</td><td>     Year with century, as a decimal number.</td></tr>
<tr><td>%z</td><td>     The offset from UTC in the ISO 8601 format "-0430" (meaning 4 hours
       30 minutes behind UTC, west of Greenwich), or by no characters if no
       time zone is determinable.</td></tr>
<tr><td>%Z</td><td>     Time-zone name, or no characters if no time zone is determinable.</td></tr>
<tr><td>%%</td><td>     A &lt;percent-sign&gt; character.</td></tr>
</table>

<p>NOTE: %g, %G and %V give values according to the ISO 8601 week-based year. In this system, weeks
   begin on a Monday and week 1 of the year is the week that includes 4th January, which is also the week
   that includes the first Thursday of the year, and is also the first week that contains at least four days in
   the year. If the first Monday of the year is the 2nd, 3rd or 4th, the preceding days are part of the last
   week of the preceding year; thus, for Saturday 2nd January 1999, %G is replaced by 1998 and %V is
  replaced by 53. If the 29th, 30th or 31st December is a Monday, it and any following days are part of
   week 1 of the following year. Thus, for Tuesday 30th December 1997, %G is replaced by 1998 and %V
   is replaced by 1.</p>

<h2>Modified Field Descriptors</h2>
<p>Some field descriptors can be modified by the E and O modifier characters to indicate a
different format or specification as specified in the LC_TIME FDCC-set description. If the
corresponding keyword (see "era", "era_year", "era_d_t_fmt", "era_d_fmt", "era_t_fmt"
and "alt_digits") is not specified for the current FDCC-set, the unmodified field descriptor
value is used.</p>

<table>
<tr><td>%Ec</td><td>    FDCC-set’s alternate date and time representation.</td></tr>
<tr><td>%EC</td><td>    The name of the base year (period) in the FDCC-set’s alternate representation.</td></tr>
<tr><td>%Ex</td><td>    FDCC-set’s alternate date representation.</td></tr>
<tr><td>%EX</td><td>    FDCC-set’s alternate time representation.</td></tr>
<tr><td>%Ey</td><td>    Offset from %EC (year only) in the FDCC-set’s alternate representation.</td></tr>
<tr><td>%EY</td><td>    Full alternate year representation.</td></tr>
<tr><td>%Od</td><td>    Day of month using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%Oe</td><td> Day of month using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%Of</td><td> Weekday as a decimal number according to alt_day (1 is first day).</td></tr>
<tr><td>%OH</td><td> Hour (24-hour clock) using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%OI</td><td> Hour (12-hour clock) using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%Om</td><td> Month using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%OM</td><td> Minutes using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%OS</td><td> Seconds using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%Ou</td><td> Weekday as a number in the alternate representation of the FDCC-set (Monday=1).</td></tr>
<tr><td>%OU</td><td> Week number of the year (Sunday as the first day of the week) using the FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%OV</td><td> Week number of the year (Monday as the first day of the week, ISO 8601 rules) using the alternate numeric symbols of the FDCC-set.</td></tr>
<tr><td>%Ow</td><td> Weekday as number in the FDCC-set’s alternate representation (Sunday=0).</td></tr>
<tr><td>%OW</td><td> Week number of the year (Monday as the first day of the week) using the  FDCC-set’s alternate numeric symbols.</td></tr>
<tr><td>%Oy</td><td> Year (offset from %C) in alternate representation.</td></tr>
</table>
{% endblock %}
