{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

<p>If you don't own an account and you would like to edit some data on this site,<br>
just ask by writing to claude at 2xlibre dot net.</p>

<form method="post" action=".">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }} <a href="{% url 'password_reset' %}">Lost password?</a></td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}

