{% extends "base.html" %}

{% block content %}
<form method="post">{% csrf_token %}
    <div>
        {{ form.email.errors }}
        <label for="id_email">Email address:</label>
        {{ form.email }}
    </div>
    <input type="submit" value="Reset my password">
</form>
{% endblock %}
