<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Locale Helper: {% block title %}page title{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  {% block extrahead %}
  {% endblock %}
</head>

<body>
 <div id="login">{% if user.is_authenticated %}Logged in as {{ user.username }} <a href="{% url 'logout' %}"><img src="{{ STATIC_URL }}img/logout.png" alt="logout"></a>
 {% else %}<a href="{% url 'login' %}?next={{ request.path }}">Login</a>{% endif %}
 </div>
 <div id="head">
   {% if request.path != "/" %}<div style="font-size: 80%">[ <a href="{% url 'home' %}">Home</a> ]</div>{% endif %}
   <hr style="color: blue; clear:both;">
   <h1 style="margin-bottom: 0.2em;">Locale Helper</h1>
   <div style="font-variant: small-caps; font-style: italic">Ease creation and maintenance of glibc locale files</div>
   <hr style="width: 80%; color: blue">
 </div>
 <div id="content">
 {% block content %}
 {% endblock %}
 </div>
</body>
</html>
