<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Locale Helper: {% block title %}Help page{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
  {% block extrahead %}
  {% endblock %}
</head>

<body style="margin:5px;">
 {% block content %}
 {% endblock %}
 </div>
</body>
</html>
