{% extends "base.html" %}

{% block content %}
<h2>{{ subcat.title }}{% if subcat.posix_name %} ({{ subcat.posix_name }}){% endif %}</h2>
<div class="comment">{{ subcat.comments|safe }}</div>
<table>
  <tr><th></th><th></th><th>{% if va.has_example %}<div class="example">Example (approximative!)</div>{% endif %}</th></tr>
{% for val in values %}
  <tr><th valign="top" style="padding:4px;"><a href="{% url 'locale' val.locale.code %}">{{ val.locale }}</a></th>
  <td><div class="value">{{ val.value|linebreaksbr }}</div>
      <div class="origin">{{ val.get_origin }}</div>
  </td>
  <td><div class="example">{{ val.get_example }}</div></td></tr>
{% endfor %}
</table>
{% endblock %}
