{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<p><a href="{% url 'locales' %}">List of locale files</a> | <a href="{% url 'locales-map' %}">Locales on a map</a></p>

<div style="text-align:left; font-size: 85%;">
<h3>Other resources for locales</h3>

<ul>
  <li><a href="http://en.wikipedia.org/wiki/POSIX">http://en.wikipedia.org/wiki/POSIX</a>
  <li><a href="http://pubs.opengroup.org/onlinepubs/009695399/basedefs/xbd_chap07.html">http://pubs.opengroup.org/onlinepubs/009695399/basedefs/xbd_chap07.html</a>
  <li><a href="{% url 'help' 'install_locale' %}">Install script and instructions to install a new locale</a></li>
  <li>The GNU C Library (glibc): <a href="http://www.gnu.org/software/libc/">Home page</a>,
      <a href="https://sourceware.org/git/?p=glibc.git">Git repository</a>,
      <a href="http://sources.redhat.com/bugzilla/buglist.cgi?product=glibc&component=localedata&bug_status=__open__">pending locale bugs</a>
  </li>
</ul>
</div>

{% endblock %}
