{% extends "base.html" %}

{% block content %}
<h2>List of locales in the database</h2>
<table class="locale-table">
{% for loc in locales %}
  <tr class="{{ loc.get_origin }}"><td><a href="{{ loc.get_absolute_url }}">{{ loc }}</a></td><td>— {{ loc.language.name }} —</td><td>{{ loc.country.name_upper }}</td><td class="origin">{{ loc.get_origin }}</td></tr>
{% endfor %}
</table>
{% endblock %}

