{% extends "base.html" %}
{% load loc_extras %}

{% block extrahead %}
<script type="text/javascript">
  $(document).ready(function() {
    $("h3.cat").click(function() {
        $(this).next().toggle();
        var status = $(this).next().is(":visible")?'open':'closed';
        $(this).children("img").attr(
            'src', "{{ STATIC_URL }}img/" + status + ".png"
        );
    });
    $("table.values").on(
        "click", "img.edit", edit_value).on(
        "click", "img.save", save_value).on(
        "click", "img.cancel", cancel_edit).on(
        "click", "img.delete", delete_value
    );
    $("div.comment a").click(open_in_popup);
  });

function edit_value(event) {
    event.preventDefault();
    var parent = $(this).parent();
    var edit_img_id = $(this).attr('id');
    var cat_id = edit_img_id.split('-')[1];
    var val_id = edit_img_id.split('-')[2];
    $.get('get_widget/', {cat: cat_id, val: val_id}, function(data) {
        parent.find('img.edit').hide();
        parent.find('img.save').show();
        parent.find('img.cancel').show();
        parent.find('img.delete').show();  // not always present
        parent.find('div.value').hide().before(data);
        parent.find('#value_edit').focus();
    });
}

function save_value(event) {
    event.preventDefault();
    var parent_line = $(this).parents('tr');
    var value = $("#value_edit").val();
    var cat_id = $(this).attr('id').split('-')[1];
    $.post('save_value/', {'value': value, 'cat': cat_id, 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()},
        function(data) {
            parent_line.html(data);
            parent_line.find('img.edit');
        }
    );
}

function delete_value(event) {
    event.preventDefault();
    result = window.confirm("Do you really want to delete this value?");
    var parent = $(this).parent();
    var value_pk = parent.find("div.value").data("pk");
    if (result) {
        $.post('delete_value/', {'value': value_pk, 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()},
            function(data) {
                parent.remove();
            }
        );
    }
}

function cancel_edit(event) {
    event.preventDefault();
    var parent = $(this).parent();
    $(this).hide();
    parent.find('img.save').hide();
    parent.find('img.delete').hide();
    parent.find('img.edit').show();
    parent.find('#value_edit').remove();
    parent.find('div.value').show()
}

function open_in_popup() {
    window.open(this.href, "help", "width=600,height=440,resizable=1,scrollbars=1");
    return false;
}
</script>
{% endblock %}

{% block title %}{{ locale.code }}{% endblock %}

{% block content %}
<h2 class="title">{{ locale.language|default_if_none:'' }} - {{ locale.country|default_if_none:'' }} ({{ locale.code }})</h2>
<form>{% csrf_token %}
{% for cat in categs %}
  {% if cat.val_perc %}
    <div style="float:right; margin-top: 0.2em;">{{ cat.val_perc }} ({{ cat.val_filled }}/{{ cat.val_number }})</div>
  {% endif %}
  <h3 class="cat"><img src="{{ STATIC_URL }}img/closed.png"/> {{ cat.title }} {% if cat.posix_name %}({{ cat.posix_name }}){% endif %}</h3>
  <div class="cat_section" style="display: none; margin-left: 2em;">
  {% if cat.comments %}<div class="comment">{{ cat.comments|safe }}</div>{% endif %}
  {% if cat.copy_from or cat.value %}
    {% if cat.copy_from %}copy {{ cat.copy_from|link_locale|safe }}
        <table class="copy_values">
        {% for value in cat.copy_values %}
        {% with 0 as editable and value.category as subcat and value|as_list as values %}
            <tr>{% include "value_line.html" %}</tr>
        {% endwith %}{% endfor %}
        </table>
    {% endif %}
    {% if cat.value %}<pre style="text-align:left">{{ cat.value }}</pre>{% endif %}
  {% else %}
  <table class="values">
  {% for subcat in cat.subcategs %}
    {% with subcat.current_values as values %}
    <tr>
      {% include "value_line.html" %}
    </tr>
    {% endwith %}
  {% endfor %}
  </table>
  {% endif %}
  </div>
{% endfor %}
</form>

<div style="margin: 1em;">
  <a href="{% url 'locale_glibc' locale.code %}">Export in glibc format</a>
</div>

{% endblock %}
