{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

<style>
div#map { height: 480px; }
</style>
{% endblock %}

{% block content %}
<div id="map"></div>

<script type="text/javascript">
var locales = new Object();
{% for code3, locales in locales.items %}
locales['{{ code3 }}'] = [{% for loc in locales %}'<a href="{{ loc.get_absolute_url }}" title="{{ loc.language.name }}">{{ loc }}{% if loc.local_origin %} (WIP){% endif %}</a>',{% endfor%}];
{% endfor %}

var map = L.map('map').setView([20, 0], 2),
    token = '{{ access_token }}',
    red_icon = L.icon({
        iconUrl: "{% static 'img/marker-icon-red.png' %}",
        iconSize: [25, 41],
        iconAnchor: [12, 41]
    });

L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token='+token, {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 10,
    id: 'locales.on.worldmap',
    accessToken: token,
}).addTo(map);
$.getJSON("{% static 'js/countries.geo.json' %}", function(data) {
    var countries = L.geoJson(data, {
        style: {"color": "#9ACEFF", "weight": 2}
    });
    map.addLayer(countries);
    $.each(countries.getLayers(0), function(idx, value) {
      var blueMarker = true;
      if (locales[value.feature.id]) {
          var msg = locales[value.feature.id].join(", ");
          var wipCount = (msg.match(/\(WIP\)/g) || []).length;
          if (wipCount >= locales[value.feature.id].length) blueMarker = false;
      } else {
          var msg = "";
          blueMarker = false;
      }
      var marker = blueMarker ? L.marker(value.getCenter()) : L.marker(value.getCenter(), {icon: red_icon});
      marker.bindPopup('<b>' + value.feature.properties.name + '</b><br>' + msg).addTo(map);
    });
});
</script>
<p><small>Thanks <a href="https://github.com/johan/world.geo.json">Johan Sundström</a> for GeoJSON country polygons.</small></p>
{% endblock %}
