<th width="30%">- {{ subcat.title }}
{% if subcat.posix_name %} (<a href="{% url 'cat_values' subcat.name %}">{{ subcat.posix_name }}</a>){% endif %}
{% if subcat.comments %}<div class="comment">{{ subcat.comments|safe }}</div>{% endif %}</th>
<td>
    {% for value in values %}
      <div class="value_container">
      {% if value.comments %}
        <div class="comment">{{ value.comments }}</div>
      {% endif %}
      <div class="value" id="value-{{ subcat.pk }}" data-pk="{{ value.pk }}">{{ value.value|linebreaksbr }}</div>
      <div class="origin">{{ value.get_origin }}</div>
      {% if editable %}
        <img class="edit" id="edit-{{ subcat.pk }}-{{ value.pk }}" src="{{ STATIC_URL }}img/edit_icon.png" alt="edit"/>
        <img class="save" style="display:none;" id="save-{{ subcat.pk }}" src="{{ STATIC_URL }}img/save_icon.gif" alt="save"/>
        {% if value.deletable %}<img class="delete" style="display:none;" id="delete-{{ subcat.pk }}" src="{{ STATIC_URL }}img/delete_icon.png" alt="delete"/>{% endif %}
        <img class="cancel" style="display:none;" src="{{ STATIC_URL }}img/undo_icon.gif" alt="undo"/>
      {% endif %}
      </div>
    {% empty %}
      <div class="value_container">
      <div class="value noval" id="value-{{ subcat.pk }}">-</div>
      {% if editable %}
        <img class="edit" id="edit-{{ subcat.pk }}-" src="{{ STATIC_URL }}img/edit_icon.png" alt="edit"/>
        <img class="save" style="display:none;" id="save-{{ subcat.pk }}" src="{{ STATIC_URL }}img/save_icon.gif" alt="save"/>
        <img class="cancel" style="display:none;" src="{{ STATIC_URL }}img/undo_icon.gif" alt="undo"/>
      {% endif %}
      </div>
    {% endfor %}
</td>
<td>{% if subcat.en_value %}Example: <code>{{ subcat.en_value }}</code>{% endif %}
    {% for value in values %}
      {% if value.has_example %}
        <div class="example">Approx. output of current value:<br/>{{ value.get_example }}</div>
      {% endif %}
    {% endfor %}
</td>
